
:root {
  color-scheme: light;
  background-color: hsl(0, 0%, 96%);
  padding: 20px;
  box-sizing: border-box;
  cursor: default;
}

.mainContentContainer{
  display: flex;
  gap: 24px;
  align-items: flex-start;
    justify-content: center;
}

.roundBorderBox{
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 16px;
}

.wideWidth{
  width: 920px;
  min-width: 600px;
  max-width: 920px;
}

.narrowWidth{
  width: 300px;
  min-width: 200px;
  max-width: 300px;
}

.bottomMargin{
  margin-bottom: 40px;
}

.mainContentLabel{
  background-color: hsl(0, 0%, 96%);
    width: max-content;
    margin: 0;
    padding-inline: 12px;
    margin-top: -16px;
    padding-bottom: 0;
    transform: translateY(0px) translateX(20px);
}

p{
  padding: 0;
  margin: 0;
}

.canvasContainer{
  /* max-height: 500px; */
  /* width: 1920px; */
}

.cardGallery{
  font-size: 20px;
  flex-wrap: wrap;
  /* height: max-content; */
  justify-content: space-evenly;
  display: flex;
  padding: 25px;
  overflow: hidden;
  box-sizing: border-box;
  gap: 1em;
}

.cardContainer{
  display: flex;
    /* height: 8em; */
    /* max-width: 18em; */
    /* max-height: 8em; */
    justify-content: space-between;
    overflow: hidden;
    background-color: hsl(40, 100%, 99%);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0px 0px 0px;
    /* box-shadow: inset white 0 0 6px 0px; */
    border: 1px solid lightgrey;
    border-radius: 6px;
    transition: 150ms;
}

.cardContainerGrid{
    width: 19em;
}
.cardContainerList{
    width: 100%;
}

.cardContainer:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 6px 0px;
    transform: translateY(-6px);
    border: 1px solid rgba(255, 166, 0, 0.5);
}

.cardContainer:active{
    box-shadow: rgba(0, 0, 0, 0.2) 0 0px 0px 0px;
    transform: translateY(0px);
}

.cardImage{
  margin: 0.25em;
  border-radius: 4px;
  box-sizing: border-box;
    transition: 300ms;
}

.cardImageGrid{
  width: 6em;
}

.cardImageList{
    height: 4em;
    width: 2.75em;
    object-fit: cover;
}

.cardData{
    max-height: 8em;
}

.cardDataGrid{
  width: 12em;
  height: 8em;
}

.cardDataList{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.cardTitle{
    display: flex;
    justify-content: end;
    height: 3em;
    line-height: 1.5em;
    overflow: hidden;
    margin: 0.75em 0.25em 0.75em 0.375em;
    /* font-weight: 500; */
    /* border: 1px solid red; */
}

.cardTitleGrid{
    width: 11em;
    text-align: end;
}

.cardTitleList{
    align-items: center;
    text-align: start;
}


.cardTimesContainer{
  display: inline-flex;
  width: 12em;
  height: 4em;
    max-width: 12em;
    max-height: 4em;
      justify-content: space-around;
    align-items: center;
  /* border: 1px solid red; */
}


.cardTimesContainer>div{
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cardTime{
  display: flex;
  flex-direction: column;
      align-items: center;
    justify-content: center;
    margin-bottom: 4px;
  font-weight: 500;

  /* max-width: 3em;
  max-height: 3em; */
  border-radius: 50%;
    overflow: hidden;
    /* background-color: hwb(50 30% 0% / 0.75); */
  border: 2px solid rgba(255, 166, 0, 0.5);
  transition: 100ms;
}

.cardTime:hover{
  border: 2px solid rgba(255, 166, 0, 0.875);
}

.problem{
  border: 2px solid rgba(255, 0, 0, 0.5);
}

.problem:hover{
  border: 2px solid rgba(255, 0, 0, 0.875);
}

.cardTimeGrid{
  width: 3em;
  height: 3em;
}

.cardTimeList{
  width: 2.5em;
  height: 2.5em;
}

.timeUnit{
  font-size: xx-small;
}

.timeUnitGrid{
  display: block;
}

.timeUnitList{
  display: none;
}

.timeLabel{
  font-size: xx-small;
  font-weight: 600;
}
.timeFraction{
    font-size: small;
}

.viewStyleButtonBar{
display: flex;
    /* width: 100%; */
    gap: 0.25em;
    padding-inline-end: 1em;
    justify-content: flex-end;
}

.sideListItems{
/* text-align-last: justify; */
}

button{
    background-color: rgb(235, 235, 235);
    border-color: rgb(211, 211, 211);
}

button:hover{
    background-color: rgb(245, 245, 245);
}